In [8]:
import sys
sys.path.append("../src") 

import pandas as pd
import numpy as np

from my_utils import dataframe_info

In [4]:
df_raw = pd.read_excel(r'C:\Users\ramdh\Documents\GitHub\DS_Project\Ecommerce Analysis\data\raw\Online Retail Data Set.xlsx', 
                       sheet_name='Online Retail')

In [9]:
dataframe_info(df_raw)

,Column,Data Type,Unique Count,Unique Sample,Missing Values,Missing Percentage
0,InvoiceNo,object,25900,"[536365, 536366, 536367, 536368, 536369]",0,0.0000
1,StockCode,object,4070,"[85123A, 71053, 84406B, 84029G, 84029E]",0,0.0000
2,Description,object,4223,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...",1454,0.2683
3,Quantity,int64,722,"[6, 8, 2, 32, 3]",0,0.0000
4,InvoiceDate,datetime64[ns],23260,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:...",0,0.0000
5,UnitPrice,float64,1630,"[2.55, 3.39, 2.75, 7.65, 4.25]",0,0.0000
6,CustomerID,float64,4372,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0]",135080,24.9267
7,Country,object,38,"[United Kingdom, France, Australia, Netherland...",0,0.0000

In [10]:
df_raw.shape

(541909, 8)